Repository bgyss/SwitchRecomp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: check-case-conflict
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy (workspace)
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        stages: [pre-push]
      - id: cargo-test
        name: cargo test (workspace)
        entry: cargo test --workspace
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        stages: [pre-push]

Add legal policy and documentation links
  README.md
  RESEARCH.md
  ROADMAP.md
  docs/LEGAL-POLICY.md
  specs/SPEC-000-CHARTER.md
Due: none

Run cargo fmt
  AGENTS.md
  crates/recomp-cli/src/main.rs
  crates/recomp-isa/src/lib.rs
  crates/recomp-pipeline/src/bundle.rs
  crates/recomp-pipeline/src/config.rs
  crates/recomp-pipeline/src/input.rs
  crates/recomp-pipeline/src/lib.rs
  crates/recomp-pipeline/src/output.rs
  crates/recomp-pipeline/src/pipeline.rs
  crates/recomp-pipeline/src/provenance.rs
  crates/recomp-pipeline/tests/bundle.rs
  crates/recomp-pipeline/tests/fixtures/formats/exefs.pfs0
  crates/recomp-pipeline/tests/fixtures/formats/homebrew.nro
  crates/recomp-pipeline/tests/fixtures/formats/main.npdm
  crates/recomp-pipeline/tests/fixtures/formats/main.nso
  crates/recomp-pipeline/tests/fixtures/formats/plugins.nrr
  crates/recomp-pipeline/tests/fixtures/formats/program.nca
  crates/recomp-pipeline/tests/pipeline.rs
  crates/recomp-pipeline/tests/provenance.rs
  crates/recomp-runtime/src/lib.rs
  crates/recomp-services/src/lib.rs
  docs/RELEASE-CHECKLIST.md
  docs/exploratory-pipeline.md
  docs/packaging.md
  docs/target-platform-assumptions.md
  docs/target-platform-baseline.toml
  samples/minimal/README.md
  samples/minimal/inputs/main.npdm
  samples/minimal/inputs/main.nso
  samples/minimal/provenance.toml
  samples/minimal/title.toml
  specs/SPEC-010-TARGET-PLATFORM.md
  specs/SPEC-020-INPUTS-PROVENANCE.md
  specs/SPEC-090-BUILD-DISTRIBUTION.md
Due: cargo-fmt, cargo-clippy, cargo-test

Add validation baseline tool and CI wiring
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/recomp-validation/Cargo.toml
  crates/recomp-validation/src/lib.rs
  crates/recomp-validation/src/main.rs
  docs/DEVELOPMENT.md
  docs/validation-baseline.md
  docs/validation-traces.md
  specs/SPEC-100-VALIDATION.md
Due: cargo-fmt, cargo-clippy, cargo-test

Add title selection docs and update plans
  PLANS.md
  docs/title-selection/selection-memo.md
  docs/title-selection/shortlist.md
  docs/title-selection/trace-plan.md
  specs/SPEC-110-TITLE-SELECTION.md
Due: none

Fix clippy warnings
  crates/recomp-isa/src/lib.rs
  crates/recomp-pipeline/src/output.rs
  crates/recomp-pipeline/tests/pipeline.rs
  crates/recomp-runtime/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add specs for manifest self-inclusion
  specs/README.md
  specs/SPEC-095-BUILD-MANIFEST-INTEGRITY.md
  specs/SPEC-096-BUNDLE-MANIFEST-INTEGRITY.md
Due: none

Add PLANS entries for manifest integrity specs
  PLANS.md
Due: none

Implement bundle manifest self inclusion
  crates/recomp-pipeline/src/bundle.rs
  crates/recomp-pipeline/tests/bundle.rs
  specs/SPEC-096-BUNDLE-MANIFEST-INTEGRITY.md
Due: cargo-fmt, cargo-clippy, cargo-test

Fix bundle manifest size calculation
  crates/recomp-pipeline/src/bundle.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Tidy bundle manifest test length
  crates/recomp-pipeline/tests/bundle.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Implement manifest self-inclusion handling
  PLANS.md
  crates/recomp-pipeline/src/bundle.rs
  crates/recomp-pipeline/src/output.rs
  crates/recomp-pipeline/src/pipeline.rs
  crates/recomp-pipeline/tests/pipeline.rs
  specs/SPEC-095-BUILD-MANIFEST-INTEGRITY.md
  specs/SPEC-096-BUNDLE-MANIFEST-INTEGRITY.md
Due: cargo-fmt, cargo-clippy, cargo-test

Add homebrew end-to-end recomp specs
  RESEARCH.md
  specs/README.md
  specs/SPEC-120-HOMEBREW-INTAKE.md
  specs/SPEC-130-HOMEBREW-MODULE-EXTRACTION.md
  specs/SPEC-140-HOMEBREW-RUNTIME-SURFACE.md
  specs/SPEC-150-HOMEBREW-ASSET-PACKAGING.md
Due: none

Add homebrew specs to plans
  PLANS.md
Due: none

Implement homebrew intake and extraction
  Cargo.lock
  PLANS.md
  crates/recomp-cli/src/main.rs
  crates/recomp-pipeline/Cargo.toml
  crates/recomp-pipeline/src/homebrew/intake.rs
  crates/recomp-pipeline/src/homebrew/mod.rs
  crates/recomp-pipeline/src/homebrew/module.rs
  crates/recomp-pipeline/src/homebrew/nro.rs
  crates/recomp-pipeline/src/homebrew/nso.rs
  crates/recomp-pipeline/src/homebrew/util.rs
  crates/recomp-pipeline/src/lib.rs
  crates/recomp-pipeline/src/provenance.rs
  crates/recomp-pipeline/tests/homebrew_intake.rs
  crates/recomp-runtime/Cargo.toml
  crates/recomp-runtime/src/homebrew.rs
  crates/recomp-runtime/src/lib.rs
  docs/DEVELOPMENT.md
  docs/exploratory-pipeline.md
  specs/SPEC-120-HOMEBREW-INTAKE.md
  specs/SPEC-130-HOMEBREW-MODULE-EXTRACTION.md
  specs/SPEC-140-HOMEBREW-RUNTIME-SURFACE.md
  specs/SPEC-150-HOMEBREW-ASSET-PACKAGING.md
Due: cargo-fmt, cargo-clippy, cargo-test

Fix clippy warnings in homebrew parser
  crates/recomp-pipeline/src/homebrew/nro.rs
  crates/recomp-pipeline/src/homebrew/util.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add homebrew intake sample
  samples/homebrew-intake/README.md
  samples/homebrew-intake/generate.py
  samples/homebrew-intake/inputs/homebrew.nro
  samples/homebrew-intake/inputs/overlay.nso
  samples/homebrew-intake/provenance.toml
Due: cargo-clippy, cargo-test

Extract RomFS file tree during intake
  crates/recomp-pipeline/src/homebrew/intake.rs
  crates/recomp-pipeline/src/homebrew/mod.rs
  crates/recomp-pipeline/src/homebrew/romfs.rs
  crates/recomp-pipeline/tests/homebrew_intake.rs
  docs/exploratory-pipeline.md
  specs/SPEC-150-HOMEBREW-ASSET-PACKAGING.md
Due: cargo-fmt, cargo-clippy, cargo-test

Fix clippy warnings in RomFS tests
  crates/recomp-pipeline/src/homebrew/romfs.rs
  crates/recomp-pipeline/tests/homebrew_intake.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Document pre-push failure handling
  AGENTS.md
Due: none

Replace is_multiple_of with modulo
  crates/recomp-isa/src/lib.rs
  crates/recomp-pipeline/src/homebrew/romfs.rs
  crates/recomp-pipeline/tests/homebrew_intake.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Reject homebrew module.json in pipeline
  crates/recomp-pipeline/src/pipeline.rs
  crates/recomp-pipeline/tests/pipeline.rs
  specs/SPEC-120-HOMEBREW-INTAKE.md
Due: cargo-fmt, cargo-clippy, cargo-test

Add subagent conflict resolution protocol
  AGENTS.md
Due: none

Avoid clippy format_collect in hex helper
  crates/recomp-pipeline/src/homebrew/util.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Fix clippy warning in homebrew intake test
  crates/recomp-pipeline/tests/homebrew_intake.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add homebrew lifter stub
  crates/recomp-cli/src/main.rs
  crates/recomp-pipeline/src/homebrew/lift.rs
  crates/recomp-pipeline/src/homebrew/mod.rs
  crates/recomp-pipeline/src/input.rs
  crates/recomp-pipeline/tests/homebrew_lift.rs
  docs/DEVELOPMENT.md
  docs/exploratory-pipeline.md
  samples/homebrew-intake/README.md
  specs/SPEC-030-RECOMP-PIPELINE.md
Due: cargo-fmt, cargo-clippy, cargo-test

Add decode-mode homebrew lifter
  crates/recomp-cli/src/main.rs
  crates/recomp-pipeline/src/homebrew/lift.rs
  crates/recomp-pipeline/src/homebrew/mod.rs
  crates/recomp-pipeline/tests/homebrew_lift.rs
  docs/DEVELOPMENT.md
  docs/exploratory-pipeline.md
  samples/homebrew-intake/README.md
  specs/SPEC-030-RECOMP-PIPELINE.md
  specs/SPEC-050-CPU-ISA.md
Due: cargo-fmt, cargo-clippy, cargo-test

Add specs for decode and CFG work
  PLANS.md
  specs/README.md
  specs/SPEC-160-AARCH64-DECODE-COVERAGE.md
  specs/SPEC-170-FUNCTION-DISCOVERY-CFG.md
Due: none

Expand lifted IR and pipeline translation
  crates/recomp-pipeline/src/input.rs
  crates/recomp-pipeline/src/output.rs
  crates/recomp-pipeline/src/pipeline.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add CFG lifter and decode coverage tests
  PLANS.md
  crates/recomp-pipeline/src/homebrew/lift.rs
  crates/recomp-pipeline/tests/homebrew_lift.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Fix load/store test encoding
  crates/recomp-pipeline/tests/homebrew_lift.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add runtime memory model spec
  PLANS.md
  specs/README.md
  specs/SPEC-045-RUNTIME-MEMORY.md
Due: none

Implement runtime memory model and load/store lowering
  PLANS.md
  crates/recomp-pipeline/src/lib.rs
  crates/recomp-pipeline/src/memory.rs
  crates/recomp-pipeline/src/output.rs
  crates/recomp-pipeline/src/pipeline.rs
  crates/recomp-pipeline/tests/pipeline.rs
  crates/recomp-runtime/src/lib.rs
  crates/recomp-runtime/src/memory.rs
  specs/SPEC-045-RUNTIME-MEMORY.md
Due: cargo-fmt, cargo-clippy, cargo-test

Fix memory layout emission formatting
  crates/recomp-pipeline/src/output.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add configurable memory layout to title config
  crates/recomp-pipeline/src/config.rs
  crates/recomp-pipeline/src/pipeline.rs
  crates/recomp-pipeline/tests/pipeline.rs
  samples/minimal/title.toml
Due: cargo-fmt, cargo-clippy, cargo-test

Add configurable memory layout and init images
  PLANS.md
  crates/recomp-pipeline/src/config.rs
  crates/recomp-pipeline/src/homebrew/lift.rs
  crates/recomp-pipeline/src/input.rs
  crates/recomp-pipeline/src/memory.rs
  crates/recomp-pipeline/src/output.rs
  crates/recomp-pipeline/src/pipeline.rs
  crates/recomp-pipeline/tests/pipeline.rs
  crates/recomp-runtime/src/lib.rs
  crates/recomp-runtime/src/memory.rs
  specs/README.md
  specs/SPEC-046-RUNTIME-MEMORY-CONFIG.md
  specs/SPEC-047-MEMORY-IMAGE-INIT.md
Due: cargo-fmt, cargo-clippy, cargo-test

Add memory image sample and recompilation flow doc
  docs/exploratory-pipeline.md
  docs/static-recompilation-flow.md
  samples/memory-image/README.md
  samples/memory-image/data.bin
  samples/memory-image/module.json
  samples/memory-image/provenance.toml
  samples/memory-image/title.toml
Due: cargo-clippy, cargo-test

Document new sample and flow docs
  README.md
Due: none

added game data to gitignore
  .gitignore
Due: none

Add XCI intake and DKCR HD milestone specs
  PLANS.md
  RESEARCH.md
  specs/README.md
  specs/SPEC-180-XCI-INTAKE.md
  specs/SPEC-190-VIDEO-BASED-VALIDATION.md
  specs/SPEC-200-DKCR-HD-FIRST-LEVEL.md
Due: none

Add validation metric sources
  RESEARCH.md
Due: none
