Repository bgyss/SwitchRecomp: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: check-case-conflict
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy (workspace)
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        stages: [pre-push]
      - id: cargo-test
        name: cargo test (workspace)
        entry: cargo test --workspace
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        stages: [pre-push]

Add video validation workflow
  Cargo.lock
  crates/recomp-validation/Cargo.toml
  crates/recomp-validation/src/lib.rs
  crates/recomp-validation/src/main.rs
  crates/recomp-validation/src/video.rs
  crates/recomp-validation/tests/video_validation.rs
  docs/validation-baseline.md
  docs/validation-video.md
  samples/reference_video.toml
Due: cargo-fmt, cargo-clippy, cargo-test

Fix clippy warnings in video validation
  crates/recomp-validation/src/video.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Fix drift delta comparison type
  crates/recomp-validation/src/video.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add XCI intake scaffold and tests
  Cargo.lock
  crates/recomp-cli/src/main.rs
  crates/recomp-pipeline/Cargo.toml
  crates/recomp-pipeline/src/lib.rs
  crates/recomp-pipeline/src/provenance.rs
  crates/recomp-pipeline/src/xci/intake.rs
  crates/recomp-pipeline/src/xci/mock.rs
  crates/recomp-pipeline/src/xci/mod.rs
  crates/recomp-pipeline/src/xci/types.rs
  crates/recomp-pipeline/tests/fixtures/formats/sample.keys
  crates/recomp-pipeline/tests/fixtures/formats/sample.xci
  crates/recomp-pipeline/tests/provenance.rs
  crates/recomp-pipeline/tests/xci_intake.rs
  docs/xci-intake.md
Due: cargo-fmt, cargo-clippy, cargo-test

Add validation matrix and run sheet templates
  docs/title-run-sheet-template.md
  docs/validation-matrix-template.md
Due: none

Add DKCR HD scaffold and runtime boot stubs
  crates/recomp-gfx/src/lib.rs
  crates/recomp-runtime/src/audio.rs
  crates/recomp-runtime/src/boot.rs
  crates/recomp-runtime/src/input.rs
  crates/recomp-runtime/src/lib.rs
  crates/recomp-services/src/lib.rs
  docs/dkcr-hd-boot-path.md
  docs/dkcr-hd-runbook.md
  samples/dkcr-hd/README.md
  samples/dkcr-hd/inputs/dkcr-hd.xci
  samples/dkcr-hd/inputs/exefs.pfs0
  samples/dkcr-hd/inputs/main.npdm
  samples/dkcr-hd/inputs/main.nso
  samples/dkcr-hd/inputs/program.nca
  samples/dkcr-hd/inputs/title.keys
  samples/dkcr-hd/module.json
  samples/dkcr-hd/patches/first-level.toml
  samples/dkcr-hd/provenance.toml
  samples/dkcr-hd/title.toml
Due: cargo-fmt, cargo-clippy, cargo-test

Add capture workflow for video validation
  docs/validation-video.md
  samples/capture_video.toml
  scripts/capture-video-macos.sh
Due: cargo-clippy, cargo-test

Update plan tracking and spec statuses
  PLANS.md
  specs/SPEC-046-RUNTIME-MEMORY-CONFIG.md
  specs/SPEC-047-MEMORY-IMAGE-INIT.md
  specs/SPEC-180-XCI-INTAKE.md
  specs/SPEC-190-VIDEO-BASED-VALIDATION.md
  specs/SPEC-200-DKCR-HD-FIRST-LEVEL.md
Due: none

Document skills and add default thresholds
  README.md
  docs/static-recomp-skills.md
  docs/thresholds/default.json
Due: none

Document batch manifest and pipeline layout
  README.md
  docs/batch-manifest-schema.md
  docs/batch-pipeline-layout.md
  docs/static-recomp-skills.md
Due: none

Add repo skill copies and batch schema
  README.md
  docs/batch-manifest-schema.json
  docs/static-recomp-skills.md
  skills/static-recomp-av-compare/SKILL.md
  skills/static-recomp-av-compare/agents/openai.yaml
  skills/static-recomp-av-compare/references/av-batch-manifest.md
  skills/static-recomp-av-compare/references/default-thresholds.json
  skills/static-recomp-av-compare/scripts/__pycache__/batch_compare_av.cpython-313.pyc
  skills/static-recomp-av-compare/scripts/__pycache__/check_summary.cpython-313.pyc
  skills/static-recomp-av-compare/scripts/__pycache__/compare_av.cpython-313.pyc
  skills/static-recomp-av-compare/scripts/batch_compare_av.py
  skills/static-recomp-av-compare/scripts/check_summary.py
  skills/static-recomp-av-compare/scripts/compare_av.py
  skills/static-recomp-batch-harness/SKILL.md
  skills/static-recomp-batch-harness/agents/openai.yaml
  skills/static-recomp-batch-harness/references/manifest-schema.md
  skills/static-recomp-batch-harness/references/pipeline-layout.md
  skills/static-recomp-input-replay/SKILL.md
  skills/static-recomp-input-replay/agents/openai.yaml
  skills/static-recomp-perf-profile/SKILL.md
  skills/static-recomp-perf-profile/agents/openai.yaml
  skills/static-recomp-reference-capture/SKILL.md
  skills/static-recomp-reference-capture/agents/openai.yaml
  skills/static-recomp-regression-triage/SKILL.md
  skills/static-recomp-regression-triage/agents/openai.yaml
  skills/static-recomp-scope-plan/SKILL.md
  skills/static-recomp-scope-plan/agents/openai.yaml
Due: none

Remove python cache from skills
  skills/static-recomp-av-compare/scripts/__pycache__/batch_compare_av.cpython-313.pyc
  skills/static-recomp-av-compare/scripts/__pycache__/check_summary.cpython-313.pyc
  skills/static-recomp-av-compare/scripts/__pycache__/compare_av.cpython-313.pyc
Due: none

Add skills install README
  skills/README.md
Due: none

Ignore Python cache files
  .gitignore
Due: none

Add external XCI extractor wrapper
  crates/recomp-cli/src/main.rs
  crates/recomp-pipeline/Cargo.toml
  crates/recomp-pipeline/src/xci/external.rs
  crates/recomp-pipeline/src/xci/intake.rs
  crates/recomp-pipeline/src/xci/mock.rs
  crates/recomp-pipeline/src/xci/mod.rs
  crates/recomp-pipeline/src/xci/types.rs
  crates/recomp-pipeline/tests/xci_intake.rs
  docs/xci-intake.md
Due: cargo-fmt, cargo-clippy, cargo-test

Fix clippy warnings in external extractor
  crates/recomp-pipeline/src/xci/external.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add automation loop planning specs
  PLANS.md
  RESEARCH.md
  ROADMAP.md
  docs/automation-loop.md
  docs/dkcr-hd-runbook.md
  docs/input-replay.md
  docs/reference-media.md
  docs/validation-video.md
  specs/README.md
  specs/SPEC-190-VIDEO-BASED-VALIDATION.md
  specs/SPEC-200-DKCR-HD-FIRST-LEVEL.md
  specs/SPEC-210-AUTOMATED-RECOMP-LOOP.md
  specs/SPEC-220-INPUT-REPLAY.md
  specs/SPEC-230-REFERENCE-MEDIA-NORMALIZATION.md
  specs/SPEC-240-VALIDATION-ORCHESTRATION.md
Due: none

Add automated recompilation architecture plan and specs
  docs/automated-recomp-architecture-plan.md
  specs/README.md
  specs/SPEC-250-AUTOMATION-SERVICES.md
  specs/SPEC-260-AGENT-PIPELINE-SECURITY.md
Due: none

Fix SPEC-250 event list formatting
  specs/SPEC-250-AUTOMATION-SERVICES.md
Due: none

Add input replay and validation normalization
  crates/recomp-runtime/Cargo.toml
  crates/recomp-runtime/src/input_replay.rs
  crates/recomp-runtime/src/lib.rs
  crates/recomp-validation/src/lib.rs
  crates/recomp-validation/src/main.rs
  crates/recomp-validation/src/video.rs
  crates/recomp-validation/tests/video_validation.rs
  docs/input-replay.md
  docs/reference-media.md
  docs/validation-video.md
  samples/input-replay/input_script.toml
  samples/reference_video.toml
  samples/validation_config.toml
  scripts/normalize-reference-video.sh
  specs/SPEC-220-INPUT-REPLAY.md
  specs/SPEC-230-REFERENCE-MEDIA-NORMALIZATION.md
  specs/SPEC-240-VALIDATION-ORCHESTRATION.md
Due: cargo-fmt, cargo-clippy, cargo-test

Add automation loop orchestrator
  Cargo.lock
  PLANS.md
  crates/recomp-cli/Cargo.toml
  crates/recomp-cli/src/automation.rs
  crates/recomp-cli/src/main.rs
  docs/automation-loop.md
  samples/automation.toml
  specs/SPEC-210-AUTOMATED-RECOMP-LOOP.md
Due: cargo-fmt, cargo-clippy, cargo-test

Fix clippy warnings
  crates/recomp-cli/src/automation.rs
  crates/recomp-validation/src/video.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Document DKCR validation prerequisites
  PLANS.md
  RESEARCH.md
  docs/automation-loop.md
  docs/dkcr-validation-prereqs.md
  docs/reference-media.md
  docs/validation-video.md
  specs/SPEC-190-VIDEO-BASED-VALIDATION.md
  specs/SPEC-200-DKCR-HD-FIRST-LEVEL.md
Due: none

Add Crimsonland process notes
  RESEARCH.md
  docs/exploratory-pipeline.md
Due: none

Implement runtime memory layout validation
  crates/recomp-pipeline/src/config.rs
  crates/recomp-pipeline/src/pipeline.rs
  crates/recomp-pipeline/tests/pipeline.rs
  samples/minimal/title.toml
  specs/SPEC-046-RUNTIME-MEMORY-CONFIG.md
  specs/SPEC-047-MEMORY-IMAGE-INIT.md
Due: cargo-fmt, cargo-clippy, cargo-test

Add video-based validation workflow
  crates/recomp-validation/src/lib.rs
  crates/recomp-validation/src/main.rs
  crates/recomp-validation/src/video.rs
  docs/validation-baseline.md
  docs/validation-traces.md
  samples/validation/event_observations.json
  samples/validation/reference_video.toml
  samples/validation/summary_fail.json
  samples/validation/summary_pass.json
  specs/SPEC-190-VIDEO-BASED-VALIDATION.md
Due: cargo-fmt, cargo-clippy, cargo-test

Add XCI intake scaffolding
  crates/recomp-cli/src/main.rs
  crates/recomp-pipeline/src/lib.rs
  crates/recomp-pipeline/src/provenance.rs
  crates/recomp-pipeline/src/xci/intake.rs
  crates/recomp-pipeline/src/xci/mod.rs
  crates/recomp-pipeline/tests/xci.rs
  specs/SPEC-180-XCI-INTAKE.md
Due: cargo-fmt, cargo-clippy, cargo-test

Add DKCR HD first-level scaffolding
  docs/dkcr-hd-first-level.md
  samples/dkcr-hd/README.md
  samples/dkcr-hd/module.json
  samples/dkcr-hd/patches/patches.toml
  samples/dkcr-hd/provenance.toml
  samples/dkcr-hd/title.toml
  specs/SPEC-200-DKCR-HD-FIRST-LEVEL.md
Due: cargo-clippy, cargo-test

Document macOS capture workflow
  docs/validation-traces.md
Due: none

Update PLANS status
  PLANS.md
Due: none

Fix XCI test warning
  crates/recomp-pipeline/tests/xci.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Fix XCI intake clippy warnings
  crates/recomp-pipeline/src/xci/intake.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add trace replay helper
  crates/recomp-timing/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add gfx stream report and service log sink
  PLANS.md
  crates/recomp-gfx/src/lib.rs
  crates/recomp-services/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Integrate external XCI extraction tooling
  crates/recomp-cli/src/main.rs
  crates/recomp-pipeline/src/xci/intake.rs
  crates/recomp-pipeline/src/xci/mod.rs
  crates/recomp-pipeline/tests/xci.rs
  docs/dkcr-hd-first-level.md
  docs/static-recompilation-flow.md
  samples/dkcr-hd/README.md
  specs/SPEC-180-XCI-INTAKE.md
Due: cargo-fmt, cargo-clippy, cargo-test

Fix XCI intake clippy findings
  crates/recomp-pipeline/src/xci/intake.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add capture helper script
  docs/validation-traces.md
  scripts/capture_video.sh
Due: none

Document real XCI intake usage
  docs/static-recompilation-flow.md
Due: none

Point docs to real XCI intake section
  README.md
  docs/dkcr-hd-first-level.md
Due: none

Document test expectations and automation notes
  .github/pull_request_template.md
  AGENTS.md
  PLANS.md
  docs/DEVELOPMENT.md
Due: none
